/* This css file effects the main index.html located in ../public/ within the
 * project folders. If you need to make direct HTML edits, index.html is a great
 * place to start but consider if it's better to add the element to the UI
 * directly.
 *
 * - Alex (Capstone team Spring '23)
 */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faf7e1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
